@using DungeonsAndDragons.Domain
@model Class[]

<div class="center">
    <ul>
        @foreach (var spu in Model)
        {
            <li><a asp-action="wikispellpage" asp-route-id="@spu.Id">@spu.Name</a></li>
        }
    </ul>
</div>
