@using DungeonsAndDragons.Domain
@model Lineage[]

<div class="center">
    <ul>
        @foreach (var spu in Model)
        {
            <li><a asp-action="wikilineagepage" asp-route-id="@spu.Id">@spu.Name</a></li>
        }
    </ul>
</div>