<h1>Wiki</h1>


<div id="Races">
    <h2>Races</h2>
    <p>Racism...</p>
    <ul>
        <li id="Dragonborn">
            <h3>Dragonborn</h3>
            <p>Dragonborn are humanoid creatures that resemble dragons but with arms and a humanoid form. They have a lifespan of around 80 years and possess enhanced strength and charisma. Dragonborn are typically taller and heavier than humans. They tend to have alignments other than neutral. With a base speed of 30 feet, they can breathe a specific type of energy, which can be fire, acid, lightning, poison, or cold. Dragonborn also possess resistance to the damage type associated with their breath weapon.</p>
        </li>
        <li id="Dwarf">
            <h3>Dwarf</h3>
            <p>Dwarves are a short and stout humanoid race known for their craftsmanship, resilience, and affinity for mining and underground life. They are often associated with mountains and have a reputation for their love of ale and strong spirits.</p>
        </li>
        <li id="Elf">
            <h3>Elf</h3>
            <p>Elves are a graceful and long-lived race known for their natural affinity for magic and their pointed ears. They are generally shorter than humans and can live for over 700 years. Elves can be found in various alignments, and some may exhibit racist tendencies, while others are characterized by curiosity and a sense of amusement.</p>
        </li>
        <li id="Gnome">
            <h3>Gnome</h3>
            <p>Gnomes are a small and intelligent race known for their inventiveness and cleverness. They have a keen intellect and a deep curiosity about the world around them. Gnomes often excel in magic and tinkering, and they possess a natural affinity for illusions.</p>
        </li>
        <li id="Half-Elf">
            <h3>Half-Elf</h3>
            <p>Half-Elves are individuals with mixed human and elven ancestry. They often combine the best traits of both races, possessing the grace and natural affinity for magic of elves, as well as the adaptability and versatility of humans. Half-Elves are known for their diplomatic skills and their ability to bridge the gap between different cultures.</p>
        </li>
        <li id="Half-Orc">
            <h3>Half-Orc</h3>
            <p>Half-Orcs are the offspring of humans and orcs. They typically inherit the physical strength and resilience of their orcish parentage, combined with some of the adaptability and ambition of humans. Half-Orcs are often misunderstood due to their heritage and face prejudice from both orc and human societies.</p>
        </li>
        <li id="Halfling">
            <h3>Halfling</h3>
            <p>Halflings, also known as hobbits, are a small and nimble race known for their love of comfort, good food, and simple pleasures. They have a tendency to live in rural areas and enjoy a peaceful existence. Although similar in appearance to humans, Halflings are typically shorter and have a longer lifespan.</p>
        </li>
        <li id="Human">
            <h3>Human</h3>
            <p>Humans are the most common and widespread race in many fantasy settings. They come in various ethnicities and cultures, displaying a wide range of appearances, beliefs, and abilities. Humans are adaptable and versatile, capable of excelling in various professions and roles.</p>
        </li>
        <li id="Orc">
            <h3>Orc</h3>
            <p>Orcs are a brutish and strong humanoid race known for their aggressive nature and physical prowess. They often live in tribal societies and are renowned for their formidable warriors. While orcs can be depicted as antagonistic, not all individuals of this race are inherently evil, and some may strive for honor and redemption.</p>
        </li>
        <li id="Tiefling">
            <h3>Tiefling</h3>
            <p>Tieflings are individuals with infernal heritage, typically descended from fiends or demons. They possess distinctive physical traits such as horns, tails, and sometimes unusual skin tones. Tieflings often face prejudice and mistrust due to their demonic lineage, but they can also harness their infernal powers for good and strive to defy their dark origins.</p>
        </li>
    </ul>
</div>


<div id="Lineage">
    <h2>Lineage</h2>
    <p></p>
</div>

<div id="Classes">
    <h2>Classes</h2>
    <p></p>
    <ul>
        <li id="Barbarian">
            <h3>Barbarian</h3>
        </li>
        <li id="Bard">
            <h3>Bard</h3>
        </li>
        <li id="Cleric">
            <h3>Cleric</h3>
        </li>
        <li id="Druid">
            <h3>Druid</h3>
        </li>
        <li id="Fighter">
            <h3>Fighter</h3>
        </li>
        <li id="Monk">
            <h3>Monk</h3>
        </li>
        <li id="Paladin">
            <h3>Paladin</h3>
        </li>
        <li id="Ranger">
            <h3>Ranger</h3>
        </li>
        <li id="Rogue">
            <h3>Rogue</h3>
        </li>
        <li id="Sorcerer">
            <h3>Sorcerer</h3>
        </li>
        <li id="Warlock">
            <h3>Warlock</h3>
        </li>
        <li id="Wizard">
            <h3>Wizard</h3>
            <p>You are a stick</p>
        </li>
    </ul>
</div>

<h2>this page is under construction</h2>
<img src="https://previews.123rf.com/images/kurhan/kurhan1502/kurhan150200184/36310482-group-of-construction-workers.jpg" width="100%" />