<h1>Wiki</h1>

<div id="Lineage">
    <h2>
        <a class="nav-link text-dark" asp-area="" asp-controller="Wiki" asp-action="Lineages">Lineage</a>
    </h2>
    <p>Another name for races, here you can view all base game lineages and their stats</p>
</div>

<div id="Classes">
    <h2>
        <a class="nav-link text-dark" asp-area="" asp-controller="Wiki" asp-action="Classes">Classes</a>
    </h2>
    <p>Here you can view all base game classes</p>
</div>

<div id="Backgrounds">
    <h2>
        <a class="nav-link text-dark" asp-area="" asp-controller="Wiki" asp-action="Backgrounds">Background</a>
    </h2>
    <p>Here you can view all base game backgrounds</p>
</div>

<div id="Feats">
    <h2>
        <a class="nav-link text-dark" asp-area="" asp-controller="Wiki" asp-action="Feats">Feats</a>
    </h2>
    <p>Here you can view all base game feats</p>
</div>

<div id="Spells">
    <h2>
        <a class="nav-link text-dark" asp-area="" asp-controller="Wiki" asp-action="Spells">Spells</a>
    </h2>
    <p>Here you can view all base game spells</p>
</div>


