<h1>Wiki</h1>


<div id="Races">
    <h2>Races</h2>
    <p>Racism...</p>
    <ul>
        <li id="Dragonborn">
            <h3>Dragonborn</h3>
            <p>Dragonborn are just dragons, but with arms, and they are people shaped. They can live up to about 80 years old. They get extra strength and chaarisma. Dragonborn are taller and heavier than humans. They aren't often neutral. They have a speed of 30 feet. You can breath something, it doesn't have to be fire. You can also breath acid, lightning, poison, and cold. You are also resistant to your breath damage type.</p>
        </li>
        <li id="Dwarf">
            <h3>Dwarf</h3>
            <p>Short drunk mountain boi.</p>
        </li>
        <li id="Elf">
            <h3>Elf</h3>
            <p>Elves are magic, duh. then there is the ears, of course. Elves are also short. Elves can live over 700 years old. Angry racist boi. Curiouse and amused</p>
        </li>
        <li id="Gnome">
            <h3>Gnome</h3>
            <p>Gnome is smort</p>
        </li>
        <li id="Half-Elf">
            <h3>Half-Elf</h3>
        </li>
        <li id="Half-Orc">
            <h3>Half-Orc</h3>
        </li>
        <li id="Halfling">
            <h3>Halfling</h3>
            <p>Hobbit but they live long-ish</p>
        </li>
        <li id="Human">
            <h3>Human</h3>
            <p>Human is are normal boi</p>
        </li>
        <li id="Orc">
            <h3>Orc</h3>
            <p></p>
        </li>
        <li id="Tiefling">
            <h3>Tiefling</h3>
        </li>
    </ul>
</div>

<div id="Lineage">
    <h2>Lineage</h2>
    <p></p>
</div>

<div id="Classes">
    <h2>Classes</h2>
    <p></p>
    <ul>
        <li id="Barbarian">
            <h3>Barbarian</h3>
        </li>
        <li id="Bard">
            <h3>Bard</h3>
        </li>
        <li id="Cleric">
            <h3>Cleric</h3>
        </li>
        <li id="Druid">
            <h3>Druid</h3>
        </li>
        <li id="Fighter">
            <h3>Fighter</h3>
        </li>
        <li id="Monk">
            <h3>Monk</h3>
        </li>
        <li id="Paladin">
            <h3>Paladin</h3>
        </li>
        <li id="Ranger">
            <h3>Ranger</h3>
        </li>
        <li id="Rogue">
            <h3>Rogue</h3>
        </li>
        <li id="Sorcerer">
            <h3>Sorcerer</h3>
        </li>
        <li id="Warlock">
            <h3>Warlock</h3>
        </li>
        <li id="Wizard">
            <h3>Wizard</h3>
            <p>You are a stick</p>
        </li>
    </ul>
</div>

<h2>this page is under construction</h2>
<img src="https://previews.123rf.com/images/kurhan/kurhan1502/kurhan150200184/36310482-group-of-construction-workers.jpg" width="100%" />