<h1>Wiki</h1>


<div id="Races">
    <h2>Races</h2>
    <p>Racism...</p>
    <ul>
        <li id="Dragonborn">
            <h3>Dragonborn</h3>
            <p>Dragonborn are humanoid creatures that resemble dragons but with arms and a humanoid form. They have a lifespan of around 80 years and possess enhanced strength and charisma. Dragonborn are typically taller and heavier than humans. They tend to have alignments other than neutral. With a base speed of 30 feet, they can breathe a specific type of energy, which can be fire, acid, lightning, poison, or cold. Dragonborn also possess resistance to the damage type associated with their breath weapon.</p>
        </li>
        <li id="Dwarf">
            <h3>Dwarf</h3>
            <p>Dwarves are a short and stout humanoid race known for their craftsmanship, resilience, and affinity for mining and underground life. They are often associated with mountains and have a reputation for their love of ale and strong spirits.</p>
        </li>
        <li id="Elf">
            <h3>Elf</h3>
            <p>Elves are a graceful and long-lived race known for their natural affinity for magic and their pointed ears. They are generally shorter than humans and can live for over 700 years. Elves can be found in various alignments, and some may exhibit racist tendencies, while others are characterized by curiosity and a sense of amusement.</p>
        </li>
        <li id="Gnome">
            <h3>Gnome</h3>
            <p>Gnomes are a small and intelligent race known for their inventiveness and cleverness. They have a keen intellect and a deep curiosity about the world around them. Gnomes often excel in magic and tinkering, and they possess a natural affinity for illusions.</p>
        </li>
        <li id="Half-Elf">
            <h3>Half-Elf</h3>
            <p>Half-Elves are individuals with mixed human and elven ancestry. They often combine the best traits of both races, possessing the grace and natural affinity for magic of elves, as well as the adaptability and versatility of humans. Half-Elves are known for their diplomatic skills and their ability to bridge the gap between different cultures.</p>
        </li>
        <li id="Half-Orc">
            <h3>Half-Orc</h3>
            <p>Half-Orcs are the offspring of humans and orcs. They typically inherit the physical strength and resilience of their orcish parentage, combined with some of the adaptability and ambition of humans. Half-Orcs are often misunderstood due to their heritage and face prejudice from both orc and human societies.</p>
        </li>
        <li id="Halfling">
            <h3>Halfling</h3>
            <p>Halflings, also known as hobbits, are a small and nimble race known for their love of comfort, good food, and simple pleasures. They have a tendency to live in rural areas and enjoy a peaceful existence. Although similar in appearance to humans, Halflings are typically shorter and have a longer lifespan.</p>
        </li>
        <li id="Human">
            <h3>Human</h3>
            <p>Humans are the most common and widespread race in many fantasy settings. They come in various ethnicities and cultures, displaying a wide range of appearances, beliefs, and abilities. Humans are adaptable and versatile, capable of excelling in various professions and roles.</p>
        </li>
        <li id="Orc">
            <h3>Orc</h3>
            <p>Orcs are a brutish and strong humanoid race known for their aggressive nature and physical prowess. They often live in tribal societies and are renowned for their formidable warriors. While orcs can be depicted as antagonistic, not all individuals of this race are inherently evil, and some may strive for honor and redemption.</p>
        </li>
        <li id="Tiefling">
            <h3>Tiefling</h3>
            <p>Tieflings are individuals with infernal heritage, typically descended from fiends or demons. They possess distinctive physical traits such as horns, tails, and sometimes unusual skin tones. Tieflings often face prejudice and mistrust due to their demonic lineage, but they can also harness their infernal powers for good and strive to defy their dark origins.</p>
        </li>
    </ul>
</div>


<div id="Lineage">
    <h2>Lineage</h2>
    <p></p>
</div>

<div id="Classes">
    <h2>Classes</h2>
    <p></p>
    <ul>
        <li id="Barbarian">
            <h3>Barbarian</h3>
            <p>The Barbarian class represents fierce and primal warriors who channel their rage to gain incredible strength and durability in battle. They excel in close combat and possess a unique ability to enter a state of rage, granting them increased damage, resistance to certain types of damage, and other powerful benefits.</p>
        </li>
        <li id="Bard">
            <h3>Bard</h3>
            <p>Bards are versatile performers and spellcasters who use their musical talents to inspire their allies and manipulate magic. They possess a wide range of skills, from singing and storytelling to spellcasting and even limited combat abilities. Bards can inspire their companions with magical effects and have access to a diverse array of spells.</p>
        </li>
        <li id="Cleric">
            <h3>Cleric</h3>
            <p>Clerics are divine spellcasters and holy warriors who draw their power from a specific deity or divine force. They serve as intermediaries between the mortal world and the divine realm, wielding powerful healing magic, divine blessings, and the ability to turn undead. Clerics can fulfill various roles within a party, from providing support and healing to frontline combat.</p>
        </li>
        <li id="Druid">
            <h3>Druid</h3>
            <p>Druids are spellcasters who commune with nature and harness its primal magic. They have a deep connection to the natural world and can shape-shift into animal forms, manipulate the elements, and command the forces of nature. Druids often serve as guardians of the wilderness, possessing unique abilities to heal, protect, and summon creatures of the natural realm.</p>
        </li>
        <li id="Fighter">
            <h3>Fighter</h3>
            <p>Fighters are highly skilled combatants who excel in armed and armored combat. They are versatile warriors capable of using a wide range of weapons and armor. Fighters can specialize in various combat styles, such as archery, swordsmanship, or dual-wielding, and they gain access to extra attacks, combat maneuvers, and other combat-oriented features.</p>
        </li>
        <li id="Monk">
            <h3>Monk</h3>
            <p>Monks are disciplined warriors who have honed their bodies and minds through rigorous training. They excel in unarmed combat and can harness a unique form of magical energy known as ki. Monks possess extraordinary speed, agility, and precision in battle, and they can perform incredible feats, such as running on water or deflecting projectiles with their bare hands.</p>
        </li>
        <li id="Paladin">
            <h3>Paladin</h3>
            <p>Paladins are holy knights and righteous champions who dedicate themselves to a cause or deity. They wield both martial and divine powers, combining weapon mastery with sacred magic. Paladins are known for their unwavering loyalty, strong sense of justice, and ability to smite evil. They can heal allies, protect against harmful effects, and smite enemies with divine fury.</p>
        </li>
        <li id="Ranger">
            <h3>Ranger</h3>
            <p>Rangers are skilled hunters and survivalists who have a deep affinity for nature. They excel in wilderness exploration, tracking, and ranged combat. Rangers are versatile adventurers who can specialize in archery, two-weapon fighting, or beast mastery, allowing them to form a close bond with an animal companion. They possess unique abilities to navigate and survive in various terrains.</p>
        </li>
        <li id="Rogue">
            <h3>Rogue</h3>
            <p>Rogues are stealthy and cunning individuals who specialize in deception, agility, and precision strikes. They are masters of stealth, lockpicking, and traps, making them excellent scouts, spies, and burglars. Rogues possess a wide range of skills, including expertise in certain areas, and they can deal devastating damage with sneak attacks and exploit their foes' vulnerabilities.</p>
        </li>
        <li id="Sorcerer">
            <h3>Sorcerer</h3>
            <p>Sorcerers are innate spellcasters who derive their magical power from their own bloodline or inner essence. They possess an inherent connection to arcane forces and can manifest powerful spells through sheer willpower. Sorcerers have a limited selection of spells but can shape and modify them in unique ways. They often have a distinct magical origin, such as draconic heritage or a magical lineage.</p>
        </li>
        <li id="Warlock">
            <h3>Warlock</h3>
            <p>Warlocks are wielders of dark magic who form pacts with powerful otherworldly entities in exchange for magical abilities. They derive their spellcasting prowess from their patron, a mysterious being from the Shadowfell, Feywild, or even the depths of the Nine Hells. Warlocks have a pact boon, granting them unique features, and they can eldritch blast their enemies with otherworldly energy.</p>
        </li>
        <li id="Wizard">
            <h3>Wizard</h3>
            <p>Wizards are scholarly spellcasters who study and manipulate arcane magic through rigorous study and research. They possess a vast knowledge of spells and can cast a wide range of magical effects. Wizards are known for their spellbooks, which contain their collected arcane knowledge, and they can specialize in specific schools of magic or become versatile generalists.</p>
        </li>
    </ul>
</div>


<h2>this page is under construction</h2>
<img src="https://previews.123rf.com/images/kurhan/kurhan1502/kurhan150200184/36310482-group-of-construction-workers.jpg" width="100%" />