*/obj/*
*/.vs/*
.vs/*
.vscode/*
*/bin/*
DungeonsAndDragons/.vs/Dungeons & Dragons/DesignTimeBuild/.dtbcache.v2
DungeonsAndDragons/.vs/Dungeons & Dragons/FileContentIndex/18011aba-0c75-4202-b529-d9105af22f2f.vsidx
DungeonsAndDragons/.vs/Dungeons & Dragons/FileContentIndex/d2ea1020-1bd0-4e8a-a3f3-90bcbaaec074.vsidx
DungeonsAndDragons/.vs/Dungeons & Dragons/FileContentIndex/f4e1a8e8-34c4-4dd0-89ae-ae8e475fb3e2.vsidx
DungeonsAndDragons/.vs/Dungeons & Dragons/v17/.futdcache.v2
DungeonsAndDragons/.vs/Dungeons & Dragons/v17/.suo
DungeonsAndDragons/.vs/ProjectEvaluation/dungeons & dragons.metadata.v6.1
DungeonsAndDragons/.vs/ProjectEvaluation/dungeons & dragons.projects.v6.1
DungeonsAndDragons/.vscode/launch.json
DungeonsAndDragons/.vscode/tasks.json
DungeonsAndDragons/.vscode/solution-explorer/apicontroller.cs-template
DungeonsAndDragons/.vscode/solution-explorer/class.cs-template
DungeonsAndDragons/.vscode/solution-explorer/class.ts-template
DungeonsAndDragons/.vscode/solution-explorer/class.vb-template
DungeonsAndDragons/.vscode/solution-explorer/default.ts-template
DungeonsAndDragons/.vscode/solution-explorer/enum.cs-template
DungeonsAndDragons/.vscode/solution-explorer/interface.cs-template
DungeonsAndDragons/.vscode/solution-explorer/interface.ts-template
DungeonsAndDragons/.vscode/solution-explorer/template-list.json
DungeonsAndDragons/.vscode/solution-explorer/template-parameters.js
DungeonsAndDragons/.vs/Dungeons & Dragons/DesignTimeBuild/.dtbcache.v2
DungeonsAndDragons/.vs/Dungeons & Dragons/FileContentIndex/18011aba-0c75-4202-b529-d9105af22f2f.vsidx
DungeonsAndDragons/.vs/Dungeons & Dragons/FileContentIndex/d2ea1020-1bd0-4e8a-a3f3-90bcbaaec074.vsidx
DungeonsAndDragons/.vs/Dungeons & Dragons/FileContentIndex/f4e1a8e8-34c4-4dd0-89ae-ae8e475fb3e2.vsidx
DungeonsAndDragons/.vs/Dungeons & Dragons/v17/.futdcache.v2
DungeonsAndDragons/.vs/Dungeons & Dragons/v17/.suo
DungeonsAndDragons/.vs/Dungeons & Dragons/DesignTimeBuild/.dtbcache.v2
DungeonsAndDragons/.vs/ProjectEvaluation/dungeons & dragons.metadata.v6.1
DungeonsAndDragons/.vs/ProjectEvaluation/dungeons & dragons.projects.v6.1
DungeonsAndDragons.Domain/.vscode/launch.json
DungeonsAndDragons.Domain/.vscode/tasks.json
DungeonsAndDragons.Services/obj/Debug/net6.0/DungeonsAndDragons.Services.AssemblyInfo.cs
DungeonsAndDragons.Services/obj/Debug/net6.0/DungeonsAndDragons.Services.AssemblyInfoInputs.cache
DungeonsAndDragons.Services/obj/Debug/net6.0/DungeonsAndDragons.Services.GeneratedMSBuildEditorConfig.editorconfig
DungeonsAndDragons.Services/obj/Debug/net6.0/DungeonsAndDragons.Services.GlobalUsings.g.cs
DungeonsAndDragons/bin/Debug/net6.0/appsettings.Development.json
DungeonsAndDragons/bin/Debug/net6.0/appsettings.json
DungeonsAndDragons/bin/Debug/net6.0/Azure.Core.dll
DungeonsAndDragons/bin/Debug/net6.0/Azure.Identity.dll
DungeonsAndDragons/bin/Debug/net6.0/dotnet-aspnet-codegenerator-design.dll
DungeonsAndDragons/bin/Debug/net6.0/Dungeons & Dragons.deps.json
DungeonsAndDragons/bin/Debug/net6.0/Dungeons & Dragons.dll
DungeonsAndDragons/bin/Debug/net6.0/Dungeons & Dragons.exe
DungeonsAndDragons/bin/Debug/net6.0/Dungeons & Dragons.pdb
DungeonsAndDragons/bin/Debug/net6.0/Dungeons & Dragons.runtimeconfig.json
DungeonsAndDragons/bin/Debug/net6.0/Dungeons & Dragons.staticwebassets.runtime.json
DungeonsAndDragons/bin/Debug/net6.0/DungeonsAndDragons
DungeonsAndDragons/bin/Debug/net6.0/DungeonsAndDragons.deps.json
DungeonsAndDragons/bin/Debug/net6.0/DungeonsAndDragons.dll
DungeonsAndDragons/bin/Debug/net6.0/DungeonsAndDragons.pdb
DungeonsAndDragons/bin/Debug/net6.0/DungeonsAndDragons.runtimeconfig.json
DungeonsAndDragons/bin/Debug/net6.0/DungeonsAndDragons.staticwebassets.runtime.json
DungeonsAndDragons/bin/Debug/net6.0/Humanizer.dll
DungeonsAndDragons/bin/Debug/net6.0/MessagePack.Annotations.dll
DungeonsAndDragons/bin/Debug/net6.0/MessagePack.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.Internal.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.UI.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.AspNetCore.Razor.Language.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Build.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Build.Framework.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.AnalyzerUtilities.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Features.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Scripting.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.Features.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.Razor.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.Scripting.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Features.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Workspaces.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.DiaSymReader.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.DotNet.Scaffolding.Shared.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Embedded.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Extensions.Identity.Core.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Extensions.Identity.Stores.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Identity.Client.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.NET.StringTools.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.SqlServer.Server.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.VisualStudio.Debugger.Contracts.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
DungeonsAndDragons/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
DungeonsAndDragons/bin/Debug/net6.0/Mono.TextTemplating.dll
DungeonsAndDragons/bin/Debug/net6.0/Newtonsoft.Json.dll
DungeonsAndDragons/bin/Debug/net6.0/NuGet.Common.dll
DungeonsAndDragons/bin/Debug/net6.0/NuGet.Configuration.dll
DungeonsAndDragons/bin/Debug/net6.0/NuGet.DependencyResolver.Core.dll
DungeonsAndDragons/bin/Debug/net6.0/NuGet.Frameworks.dll
DungeonsAndDragons/bin/Debug/net6.0/NuGet.LibraryModel.dll
DungeonsAndDragons/bin/Debug/net6.0/NuGet.Packaging.dll
DungeonsAndDragons/bin/Debug/net6.0/NuGet.ProjectModel.dll
DungeonsAndDragons/bin/Debug/net6.0/NuGet.Protocol.dll
DungeonsAndDragons/bin/Debug/net6.0/NuGet.Versioning.dll
DungeonsAndDragons/bin/Debug/net6.0/System.CodeDom.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Composition.AttributedModel.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Composition.Convention.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Composition.Hosting.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Composition.Runtime.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Composition.TypedParts.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Drawing.Common.dll
DungeonsAndDragons/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Memory.Data.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Reflection.MetadataLoadContext.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Runtime.Caching.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Security.Permissions.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Text.Encodings.Web.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Text.Json.dll
DungeonsAndDragons/bin/Debug/net6.0/System.Windows.Extensions.dll
DungeonsAndDragons/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
DungeonsAndDragons/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
DungeonsAndDragons/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
DungeonsAndDragons/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
DungeonsAndDragons/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
DungeonsAndDragons/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
DungeonsAndDragons/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
DungeonsAndDragons/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
DungeonsAndDragons/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
DungeonsAndDragons/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
DungeonsAndDragons/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
DungeonsAndDragons/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
DungeonsAndDragons/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
DungeonsAndDragons/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
DungeonsAndDragons/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
DungeonsAndDragons.DataAccess/DungeonsAndDragons - Backup.DataAccess.csproj
DungeonsAndDragons.DataAccess/DungeonsAndDragons - Backup (1).DataAccess.csproj
DungeonsAndDragons.DataAccess/obj/Debug/net6.0/DungeonsAndDragons.DataAccess.csproj.AssemblyReference.cache
