@{
    ViewData["Title"] = "Home Page";
}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Banner                                            -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
<div class="banner">
    <div class="banner-overlay">
        <div class="container">
            <div class="heading">
                <h2>DnD made simple</h2>
                <hr>
                <h3>no more confusion</h3>
            </div>
        </div>
    </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Cotent                                            -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
<section>
    <div class="about">
        <h2>
            Creator
        </h2>

        <hr>

        <p>
            The most simple and user friendly DnD character creator available.
            Designed to be as user friendly as possible for both new players
            and veterans. 
        </p>
    </div>
</section>

<section>
    <div class="about">
        <h2>
            Wiki
        </h2>

        <hr>

        <p>
            A conclusve refrence to everything DnD. Useful when building a
            new character or when brushing up on spells
        </p>
    </div>
</section>

<section>
    <div class="about">
        <h2>
            Homebrew
        </h2>

        <hr>

        <p>
            A place to create and store homebrews for your characters and world. 
        </p>
    </div>
</section>

<section>
    <div class="about">
        <h2>
            Library
        </h2>

        <hr>

        <p>
            Where you can view homebrews and characters made by you and other
            users. All homebrews shown have been approved by the moderation team.
        </p>
    </div>
</section>
