<label class="form-label" for="feature-name">Feature Name</label>
<input class="form-control" id="feature-name" name="fname" type="text"/>

<label class="form-label" for="feature-description">Feature Description</label>
<textarea class="form-control" id="feature-description" name="fdesc"></textarea>
