@model DungeonsAndDragons.Services.BackgroundViewModel

<script defer type="text/javascript" src="js/feature-creator.js"></script>

<h1>Background Creation</h1>
<form method="post">
    <label class="form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span class="form-text text-danger" asp-validation-for="Name"></span>

    <label class="form-label" asp-for="Description"></label>
    <textarea class="form-control" asp-for="Description"></textarea>
    <span class="form-text text-danger" asp-validation-for="Description"></span>
    
    <h2>Features</h2>
    <button class="btn btn-primary" id="add-button" type="button">Add feature</button>
    <div id="feature-list">
        <div id="feature-1">
            <label class="form-label" asp-for="FeatureNames">Feature Name</label>
            <input class="form-control" asp-for="FeatureNames" type="text"/>
            
            <label class="form-label" asp-for="FeatureDescriptions">Feature Description</label>
            <textarea class="form-control" asp-for="FeatureDescriptions"></textarea>
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Submit</button>
</form>