<h1>Create homebrew</h1>

<p>Here you can create homebrews for subclasses, feats, spells, lineages, sub-lineages, backgrounds</p>
<p>This is still a work in progress so expect more do be added soon</p>

@*<h3>Sub-classes</h3>
<p>Tired of being a Divine Soul sorcerer, wanna break the game another way, outside from what god intended?</p>
<p>You can learn more about existing sub-classes in the wiki</p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Homebrew" asp-action="Sub-ClassesHomebrew">create here</a></p>

<br/>*@

<h3>Feats</h3>
<p>Do you want to be very good at this one specific thing and may or may not break your game and make your DM cry?</p>
<p>You can learn more about existing feats in the wiki</p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Homebrew" asp-action="FeatsHomebrew">create here</a></p>

<br/>

<h3>Spells</h3>
<p>Do you really want to do something that doesnt exist in the game for a reason? This is a great way to do it.</p>
<p>You can learn more about existing spells in the wiki</p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Homebrew" asp-action="SpellsHomebrew">create here</a></p>

<br/>

<h3>Background</h3>
<p>Are your basic backgrounds not enough for you? Do you wanna start somewhere completely different?</p>
<p>You can learn more about existing backgrounds in the wiki</p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Homebrew" asp-action="BackgroundHomebrew">create here</a></p>

<br/>

@*<h3>Lineages</h3>
<p>What will you do when you can create nearly anything</p>
<p>You can learn more about existing lineages in the wiki</p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Homebrew" asp-action="LineageHomebrew">create here</a></p>

<br/>

<h3>Sub-Lineages</h3>
<p>Now you have to deside how they occure</p>
<p>You can learn more about existing sub-lineages in the wiki</p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Homebrew" asp-action="Sub-LineagesHomebrew">create here</a></p>*@


