<h1>Create homebrew</h1>

<p>Here you can create homebrews for subclasses, feats, spells, lineages, sub-lineages, backgrounds</p>

<h3>Sub-classes</h3>
<p>tired of being a Divine Soul sorcerer, wanna break the game another way, outside from what god intended?</p>
<p>you can learn more about existing Sub-classes <bold>here</bold></p>

<h3>Feats</h3>
<p></p>

<h3>Spells</h3>
<p></p>

<h3>Background</h3>
<p></p>

<h3>Lineages</h3>
<p></p>

<h3>Sub-Lineages</h3>
<p></p>


