@model DungeonsAndDragons.Services.FeatCreatingModel

<h1>Feat Creation</h1>
<form method="post">
    <label class="form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span class="form-text text-danger" asp-validation-for="Name"></span>

    <label class="form-label" asp-for="Description"></label>
    <textarea class="form-control" asp-for="Description"></textarea>
    <span class="form-text text-danger" asp-validation-for="Description"></span>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
